<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        <p>Some text here</p>
        <!-- 引入template的方式，不能有多餘的空格否則會被視為字串 -->
        {{> footer}}
    </body>
</html>